@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #translate-container {
    position: fixed;
    top: 15px;
    right: 75px;
    z-index: 1000;
    /* background: rgba(0, 0, 0, 0.8); */
    padding: 8px 12px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }

  .goog-te-combo {
    background-color: #fff !important;
    border: none !important;
    outline: none !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    width: 100px;
  }
  /* Hide Google branding */
  .goog-te-gadget {
    color: rgb(30 58 138 / var(--tw-bg-opacity, 1)) !important;
  }
  .goog-logo-link,
  .goog-te-gadget span {
    display: none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #translate-container {
    position: fixed;
    right: 280px;
    width: 150px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #translate-container {
    position: fixed;
    top: 30px;
    right: 160px;
    z-index: 1000;

    padding: 0px 0px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }

  .goog-te-combo {
    border: none !important;
    outline: none !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    width: 120px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #translate-container {
    position: fixed;
    top: 30px;
    right: 175px;
    z-index: 1000;

    padding: 0px 0px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }

  #google_translate_element {
    display: flex;
  }

  .goog-te-combo {
    border: none !important;
    outline: none !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    width: 150px;
  }

  /* Hide Google branding */
  .goog-logo-link,
  .goog-te-gadget span {
    display: none !important;
  }
}

@media only screen and (min-width: 1350px) {
  #translate-container {
    position: fixed;
    top: 20px;
    right: 200px;
    z-index: 1000;
    padding: 0px 0px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
  }

  #google_translate_element {
    display: flex;
  }

  .goog-te-combo {
    border: none !important;
    outline: none !important;
    padding: 12px 5px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    width: 130px;
  }

  /* Hide Google branding */
  .goog-te-gadget {
    color: rgb(30 58 138 / var(--tw-bg-opacity, 1)) !important;
  }
  .goog-logo-link,
  .goog-te-gadget span {
    display: none !important;
  }
}
